In [1]:
import numpy as np
import pandas as pd

In [2]:
#Load the Cars dataset
df=pd.read_csv("Cars.csv")

In [3]:
#Find the first five rows
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
#List out the last ten instances 
df.tail(10)

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
195,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,141,114,23,28,13415
196,-2,103,volvo,gas,sedan,rwd,front,67.2,56.2,ohc,141,114,24,28,15985
197,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,141,114,24,28,16515
198,-2,103,volvo,gas,sedan,rwd,front,67.2,56.2,ohc,130,162,17,22,18420
199,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,130,162,17,22,18950
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [5]:
#Take descriptive measurements
df.describe()

,symboling,width,height,engine-size,city-mpg,highway-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,65.907805,53.724878,126.907317,25.219512,30.751220,13227.478049
std,1.245307,2.145204,2.443522,41.642693,6.542142,6.886443,7902.651615
min,-2.000000,60.300000,47.800000,61.000000,13.000000,16.000000,5118.000000
25%,0.000000,64.100000,52.000000,97.000000,19.000000,25.000000,7788.000000
50%,1.000000,65.500000,54.100000,120.000000,24.000000,30.000000,10345.000000
75%,2.000000,66.900000,55.500000,141.000000,30.000000,34.000000,16500.000000
max,3.000000,72.300000,59.800000,326.000000,49.000000,54.000000,45400.000000

In [6]:
#Show information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [7]:
#Calculate the average price of Honda cars
df[df["make"]=="honda"]["price"].mean()

8184.692307692308

In [8]:
#Caclucate the average price of all the cars
df.groupby("make")["price"].mean()

make
alfa-romero      15498.333333
audi             17022.142857
bmw              26118.750000
chevrolet         6007.000000
dodge             7875.444444
honda             8184.692308
isuzu            12708.250000
jaguar           34600.000000
mazda            10652.882353
mercedes-benz    33647.000000
mercury          16503.000000
mitsubishi        9239.769231
nissan           10415.666667
peugot           15489.090909
plymouth          7963.428571
porsche          27520.400000
renault           9595.000000
saab             15223.333333
subaru            8541.250000
toyota            9885.812500
volkswagen       10077.500000
volvo            18063.181818
Name: price, dtype: float64

In [9]:
#Analyze which car is costly based on the fuel type
df.groupby("fuel-type")["price"].mean()

fuel-type
diesel    15838.150000
gas       12945.243243
Name: price, dtype: float64

In [10]:
#To display unique values in a dataset
df["fuel-type"].unique()

array(['gas', 'diesel'], dtype=object)

In [11]:
#To display count of unique dataset
df["fuel-type"].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [12]:
#Sort the data based on price
df.sort_values("price")

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
138,2,83,subaru,gas,hatchback,fwd,front,63.4,53.7,ohcf,97,69,31,36,5118
18,2,121,chevrolet,gas,hatchback,fwd,front,60.3,53.2,l,61,48,47,53,5151
50,1,104,mazda,gas,hatchback,fwd,front,64.2,54.1,ohc,91,68,30,31,5195
150,1,87,toyota,gas,hatchback,fwd,front,63.6,54.5,ohc,92,62,35,39,5348
76,2,161,mitsubishi,gas,hatchback,fwd,front,64.4,50.8,ohc,92,68,37,41,5389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,0,?,bmw,gas,sedan,rwd,front,70.9,56.3,ohc,209,182,15,20,36880
128,3,?,porsche,gas,convertible,rwd,rear,65.0,51.6,ohcf,194,207,17,25,37028
73,0,?,mercedes-benz,gas,sedan,rwd,front,71.7,56.7,ohcv,308,184,14,16,40960
16,0,?,bmw,gas,sedan,rwd,front,67.9,53.7,ohc,209,182,16,22,41315
74,1,?,mercedes-benz,gas,hardtop,rwd,front,72.0,55.4,ohcv,304,184,14,16,45400

In [13]:
#Calculate the mean value of price of cars based on the fuel-type
df.groupby("fuel-type")["price"].mean()

fuel-type
diesel    15838.150000
gas       12945.243243
Name: price, dtype: float64

In [14]:
#Drop a feature
df.drop(103,inplace=True)

In [15]:
df.drop([23,24,25,26,27],inplace=True)

In [16]:
df.drop(23)

KeyError: '[23] not found in axis'

In [ ]:
print(df)

In [ ]:
df.drop("engine-location",axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop(["city-mpg","highway-mpg","normalized-losses"],axis=1)